body{
    background-color: #4343F9;
    font-family: 'Monserrat';
    
}
div{
    display: block;
    position: absolute;

    border: none;
    border-radius: 40px;

    width: 40px;
    height: 40px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2) ;
}
.first{    
    left: 50%;
    top: 5%;

    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.secound{
    left: 95%;
    top: 50%;

    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

button{
    
    display: block;
    position: absolute;
    
    left: 50%;
    top: 50%;
    
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
    background-color: #4343F9;
    width: 240px;
    height: 360px;
    
    border: none;
    border-radius: 4px;
    
    font-family: 'Monserrat';
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.third{
    left: 50%;
    top: 95%;

    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.fourth{
    left: 5%;
    top: 50%;

    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}